*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, li{
    font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4{
    font-family: 'DM Sans', sans-serif;
}
header{
    background-color: rgb(73, 148, 245);
    color: #FFFFFF;
}
.h-width1{
    margin: 40px 10px 40px 140px;
width: 70%;
}
.h-width2{
    margin: 40px 10px 40px 0px;
    width: 35%;
}
.head-width1{
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    font-size: 60px;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.flex1{
    width: 60%;
    justify-content: flex-end;
}
.flex2{
    width: 40%;
}
.container{
    margin: auto;
    width: 80%;
}
.sec1{
    margin: 20px 0 ;
    text-align: justify;
}
.p1{
    padding: 20px 0;
    font-size: 20px;
}
.p2{
    padding: 10px 0px;
}
.mag{
    margin: 20px 0px;
}
li{
    list-style-position: inside;
    list-style-type: circle;
}
footer{
    width: auto;
    height: auto;
    background-color: rgb(100, 100, 247);
}

.li{
    list-style: none;
    display: inline;
   margin-right: 40px;
   font-style: oblique;
   font-weight: bold;
   
    
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: red;
}
.width1{
    padding: 30px 0px 30px 130px;
    margin: 15px 0;
    color: #ffffff;
    font-weight: bold;
    font-style: oblique;
}
.image{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

